.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: -210px;
}

.Register-form {
  padding: 40px;
  max-width: 800px;
  width: 100%;
}

.Register-title h1 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #8b2c2c;
  text-align: center;
}

.Register-formfield {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.register-form-group,
.register-form-group-name,
.register-form-group-full  {
  margin-bottom: 20px;
  width: 48%;
}

.register-form-group-name {
  width: 48%;
}

.register-form-group-full {
  width: 100%;
  margin-bottom: 20px;
}

.register-form-group label,
.register-form-group-name label,
.register-form-group-full label {
  font-size: 16px;
  color: #555555;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.register-form-group .icon,
.register-form-group-name .icon,
.register-form-group-full .icon {
  margin-right: 8px;
  color: #8b2c2c;
}

.register-form-group input,
.register-form-group-name input,
.register-form-group-full input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #565454;
  font-size: 16px;
  color: #333333;
  outline: none;
  transition: border-color 0.3s;
}

.register-form-group input:focus,
.register-form-group-name input:focus,
.register-form-group-full input:focus {
  border-color: #8b2c2c;
}

.Register-button {
  background-color: #f79d31;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  width: 200px;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  margin-left: 300px;
}

.Register-button:hover {
  background-color: #e68928;
}

.Register-formfield a {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: #8b2c2c;
  text-decoration: none;
  text-align: center;
}

.Register-formfield a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .Register-form {
    padding: 20px;
  }

  .register-form-group,
  .register-form-group-name,
  .register-form-group-full {
    width: 100%;
  }
}