.cart {
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}

.cart-items-title {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  color: grey;
  font-size: max(1vw, 12px);
}

.cart-items-item {
  margin: 10px 0px;
  color: black;
}

.cart-items-item img {
  width: 80px;
  height: 70px;
}