body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #58231f;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}

.login-form {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 1100px;
  display: flex;
  height: 560px;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.image-container {
  flex: 1;
  height: 100%;
}

.image-container img {
  width: 560px;
}

.cookies-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.forml-container {
  flex: 1;
  padding: 40px;
  box-sizing: border-box;
}

.forml-container h2 {
  color: #99221f;
  margin-bottom: 20px;
  text-align: center;
  font-size: 50px;
}

.forml-group {
  margin-bottom: 15px;
  text-align: left;
}

.forml-group label {
  display: block;
  margin-bottom: 5px;
}

.forml-group input[type="text"],
.forml-group input[type="email"],
.forml-group input[type="password"],
.forml-group select {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
}

.forml-group select {
  background-color: #fff;
}

.forml-group.terms {
  display: flex;
  align-items: center;
}

.forml-group.terms input[type="checkbox"] {
  margin-right: 10px;
}

.forml-group.terms label {
  margin: 0;
}

.Login-button {
  background-color: #f79c3e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s;
}

.Login-button:hover {
  background-color: #d48734;
}

.account {
  font-weight: lighter;
  color: black;
  text-align: center;
}

.icon {
  margin-right: 8px;
}