/* Sidebar.css */
.sidebar {
    width: 200px;
    background-color: #fff;
    height: 100vh;
    padding-top: 20px;
  }
  
  .sidebar nav ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar nav ul li {
    margin-bottom: 20px;
  }
  
  .sidebar nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar nav ul li a .icon1 {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .sidebar nav ul li a.active {
    background-color: #f7ac57;
    color: #ffffff;
    font-weight: bold;
  }
  
  .sidebar nav ul li a.active .icon1 {
    color: #ffffff;
  }
  
  .sidebar nav ul li a:hover {
    background-color: #f9b352;
  }
  .icon1{
    height: 12%;
    width: 12%;
  }