.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 15px 0px;
    margin-top: -130px;
    margin-bottom: -100px;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
  }
  
  .navbar-logo img {
    height: 80px;
    width: 250px;
    margin-top: 130px;
    margin-bottom: 130px;
  }
  
  .navbar-search input {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    width: 350px;
    transition: width 0.3s ease-in-out;
  }
  
  .navbar-search input:focus {
    width: 400px;
  }
  
  .navbar-menu {
    display: flex;
    align-items: center;
  }
  
  .navbar-menu a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .navbar-menu a:hover {
    border-bottom: 2px solid #58231f;
    transition: 0.3s left;
  }
  
  .nav {
    display: flex;
    margin-left: -29px;
    margin-right: 20px;
  }
  
  .nav img {
    height: 35px;
    width: 35px;
  }
  
  .nav a {
    color: #333;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
  }
  .profile-button{
       margin-top: 10px;
  }
  .registration-button {
    background-color: #fff;
    border: 2px solid #58231f;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  
  .registration-button:hover {
    background-color: #58231f;
    color: white;
  }
  
  .navbar-cart-icon img {
    position: relative;
    margin-top: -5px;
    margin-left: 20px;
    margin-right: 2px;
    height: 65px;
    width: 65px;
  }
  
  .navbar-cart-icon {
    position: relative;
  }
  
  /* 
  .navbar-search-icon .dot {
    position: relative;
    min-height: 4px;
    width: 50px;
    background-color: #58231f;
    border-radius: 5px;
    top: -15px;
    right: -30px;
  } */
  
  @media(max-width:1050px) {
    .navbar .logo {
      width: 140px;
    }
  
    .navbar-search {
      width: 30px;
    }
  
    .navbar-menu {
      gap: 20px;
      font-size: 17px;
    }
  
    .navbar-right {
      gap: 30px;
    }
  
    .navbar-right img {
      width: 22px;
    }
  
    .navbar-right button {
      padding: 8px 25px;
    }
  }
  
  @media(max-width:900px) {
    .navbar .logo {
      width: 140px;
    }
  
    .navbar-menu {
      gap: 15px;
      font-size: 16px;
    }
  
    .navbar-search {
      width: 10px;
    }
  
    .navbar-right {
      gap: 20px;
    }
  
    .navbar-right img {
      width: 20px;
    }
  
    .navbar-right button {
      padding: 7px 20px;
      font-size: 15px;
    }
  }
  
  @media(max-width:750px) {
    .navbar-menu {
      display: none;
    }
  }