.product-list {
  display: grid;
  grid-template-columns: repeat(4, 20fr);
  gap: 30px;
  max-width: 1400px;
  margin: auto;
  margin-top: 20px;
}

.product-item {
  width: 300px;
  height: 450px;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000015;
  transition: 0.3s;
  animation: fadeIn 1s;
  display: flex;
  flex-direction: column;
}

.product-item-image {
  border-radius: 15px 15px 0px 0px;
  width: 300px;
  height: 250px;
}

.product-item-info {
  padding: 20px;
}

.product-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.product-item-name-rating p {
  font-size: 20px;
  font-weight: 500;
}

.product-item-name-rating img {
  width: 70px;
}

.product-item-desc {
  color: #58231f;
  font-size: 12px;
}

.product-item-price {
  color: #58231f;
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0px;
}

.product-item-img-container {
  position: relative;
}

.product-item-img-container .add {
  width: 35px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  border-radius: 50%;
}

.product-item-counter {
  align-items: end;
  justify-content: end;
  padding: 6px;
  height: 28px;
  width: 28px;
  margin-left: 250px;
  margin-top: -60px;
}

@media (max-width: 951px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-item-image {
    width: 220px;
    height: 180px;
  }
}

@media (max-width: 703px) {
  .product-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.product-item-img-container {
  position: relative;
}

.product-item-image {
  cursor: pointer; /* Makes the image clickable */
  transition: transform 0.3s ease-in-out;
}

.product-item-image:hover {
  transform: scale(1.05); /* Optional hover effect */
}

.image-preview-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Dark overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensures modal is on top */
}

.product-image-preview {
  max-width: 90%; /* Ensure image doesn't overflow */
  max-height: 80%; /* Adjust according to your preference */
  border-radius: 8px;
}
